# LESSON 5 TUPLES, LISTS, AND DICTIONARIES

# REVIEW EXERCISES 1

In [13]:
# number 1
cardinal_numbers = ("First", "Second", "Third")
print(cardinal_numbers[1])
position1, position2, position3 = cardinal_numbers
print(position1)
print(position2)
print(position3)
my_name = ("paul")
print("x" in my_name)
new_tuple =my_name[1:]
print(new_tuple)

Second
First
Second
Third
False
aul

In [10]:
cardinal_numbers = ("First", "Second", "Third")
print(cardinal_numbers)

('First', 'Second', 'Third')

In [11]:
cardinal_numbers = ("First", "Second", "Third")
print(cardinal_numbers[1])

Second

In [12]:
position1, position2, position3 = cardinal_numbers
print(position1)
print(position2)
print(position3)

First
Second
Third

In [14]:
my_name = ("paul")

In [15]:
my_name = ("paul")
print("x" in my_name)

False

In [16]:
new_tuple =my_name[1:]
print(new_tuple)

aul

# REVIEW EXERCISE 2

In [1]:
food = ["Rice", "Beans"]
food.append("Broccoli")
food.extend(["Bread", "Pizza"])
print(food)
print(food[:2])
print(food[-1])

breakfast = "Eggs, fruet, orange juice".split(", ")
print(breakfast)
print(len(breakfast))

lenghts = [len(item) for item in breakfast]
print(lenghts)

['Rice', 'Beans', 'Broccoli', 'Bread', 'Pizza']
['Rice', 'Beans']
Pizza
['Eggs', 'fruet', 'orange juice']
3
[4, 5, 12]

In [21]:
food = ["Rice", "Beans"]
print(food)

['Rice', 'Beans']

In [20]:
food = ["Rice", "Beans"]
food.append("Broccoli")
print(food)

['Rice', 'Beans', 'Broccoli']

In [22]:
food = ["Rice", "Beans"]
food.append("Broccoli")
food.extend(["Bread", "Pizza"])
print(food)

['Rice', 'Beans', 'Broccoli', 'Bread', 'Pizza']

In [23]:
food = ["Rice", "Beans"]
food.append("Broccoli")
food.extend(["Bread", "Pizza"])
print(food)
print(food[:2])

['Rice', 'Beans', 'Broccoli', 'Bread', 'Pizza']
['Rice', 'Beans']

In [25]:
breakfast = "Eggs, fruet, orange juice".split(", ")
print(breakfast)
print(len(breakfast))

['Eggs', 'fruet', 'orange juice']
3

In [27]:
food = ["Rice", "Beans"]
food.append("Broccoli")
food.extend(["Bread", "Pizza"])
print(food)
print(food[-1])

['Rice', 'Beans', 'Broccoli', 'Bread', 'Pizza']
Pizza

In [28]:
lenghts = [len(item) for item in breakfast]
print(lenghts)

[4, 5, 12]

# REVIEW EXERCISE 3

In [29]:
nested = ((1,2), (3,4))
print(nested)

((1, 2), (3, 4))

In [30]:
for i in range(len(nested)):
    print(f"row {i + 1} sum: {sum(nested[i])}")

row 1 sum: 3
row 2 sum: 7

In [35]:
num = [1, 4, 5, 6, 3, 2]
print(num)

num_copy = num[:]
print(f"copy: {num_copy}")

num.sort()
print(f"Sorted numbers: {num}")

[1, 4, 5, 6, 3, 2]
copy: [1, 4, 5, 6, 3, 2]
Sorted numbers: [1, 2, 3, 4, 5, 6]

# Challenge list of list

In [37]:
universities = [
    ['California Institute of Technology', 2175, 37704],
    ['Harvard', 19627, 39849],
    ['Massachusetts Institute of Technology', 10566, 40732],
    ['Princeton', 7802, 37000],
    ['Rice', 5879, 35551],
    ['Stanford', 19535, 40569],
    ['Yale', 11701, 40500]
]
for school in universities:
    print(school)

['California Institute of Technology', 2175, 37704]
['Harvard', 19627, 39849]
['Massachusetts Institute of Technology', 10566, 40732]
['Princeton', 7802, 37000]
['Rice', 5879, 35551]
['Stanford', 19535, 40569]
['Yale', 11701, 40500]

# challenge: wax poetic

In [16]:
nouns = ["FOSSIL", "HORSE", "AARDVARK", "JUDGE", "CHEF", 
         "MANGO", "EXTROVERT", "GORILLA"]

verbs = ["KICKS", "JINGLES", "BOUNCES", "SLURPS", "MEOWS", 
         "EXPLODES", "CURDLES"]

adjectives = ["FURRY", "BALDING", "INCREDULOUS", "FRAGRANT", 
              "EXUBERANT", "GLISTENING"]

prepositions = ["AGAINST", "AFTER", "INTO", "BENEATH", "UPON", 
                "FOR", "IN", "LIKE", "OVER", "WITHIN"]

adverbs = ["CURIOUSLY", "FURIOUSLY", "SENSUOUSLY", 
           "EXTRAVAGANTLY", "TANTALIZINGLY"]

print(f"""
Nouns: {nouns}
Verbs: {verbs}
Adjectives: {adjectives}
Prepositions: {prepositions}
Adverbs: {adverbs}
""")

Nouns: ['FOSSIL', 'HORSE', 'AARDVARK', 'JUDGE', 'CHEF', 'MANGO', 'EXTROVERT', 'GORILLA']
Verbs: ['KICKS', 'JINGLES', 'BOUNCES', 'SLURPS', 'MEOWS', 'EXPLODES', 'CURDLES']
Adjectives: ['FURRY', 'BALDING', 'INCREDULOUS', 'FRAGRANT', 'EXUBERANT', 'GLISTENING']
Prepositions: ['AGAINST', 'AFTER', 'INTO', 'BENEATH', 'UPON', 'FOR', 'IN', 'LIKE', 'OVER', 'WITHIN']
Adverbs: ['CURIOUSLY', 'FURIOUSLY', 'SENSUOUSLY', 'EXTRAVAGANTLY', 'TANTALIZINGLY']

# REVIEW EXERCISE 4

In [16]:
captains = {}

In [17]:
captains["Enterprise"] = "Picard"
captains["Voyager"] = "Janeway"
captains["Defiant"] = "Sisko"

In [21]:
if "Enterprise" not in captains:
    captains["Enterprise"] = "Unknown"
if "Discovery" not in captains:
    captains["Discovery"] = "Unknown"

In [24]:
for item in captains:
    print(f"The {item} is captained by {captains[item]}")

The Enterprise is captained by Picard
The Voyager is captained by Janeway
The Defiant is captained by Sisko

In [ ]:
del captains["Discovery"]

In [27]:
capitals_dict = {
    'Alabama': 'Montgomery',
    'Alaska': 'Juneau',
    'Arizona': 'Phoenix',
    'Arkansas': 'Little Rock',
    'California': 'Sacramento',
    'Colorado': 'Denver',
    'Connecticut': 'Hartford',
    'Delaware': 'Dover',
    'Florida': 'Tallahassee',
    'Georgia': 'Atlanta',
}

for state, capital in capitals_dict.items():
    print(f"The capital of {state} is {capital}.")

The capital of Alabama is Montgomery.
The capital of Alaska is Juneau.
The capital of Arizona is Phoenix.
The capital of Arkansas is Little Rock.
The capital of California is Sacramento.
The capital of Colorado is Denver.
The capital of Connecticut is Hartford.
The capital of Delaware is Dover.
The capital of Florida is Tallahassee.
The capital of Georgia is Atlanta.